*.suo
*.obj
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.sdf
*.opensdf
*.ilk
*.xcuserstate
*.xccheckout
*.xcbkptlist
*.xcsettings
proj.android/bin/
proj.android/assets/
CMakeLists.txt.user

log.txt
/proj.win32/Debug.win32
/proj.win32/Release.win32/SlashingTrough.tlog
/proj.win32/Release.win32/*.res
/proj.win32/Release.win32/*.obj
/proj.win32/Release.win32/*.log
/proj.win32/Release.win32/*.exp
*.apk
*.o
*.d
/proj.android/obj
/proj.android/libs
Backup
Ruler
*.~lock*